.appreciation{
    margin-top: 25%;text-align: center;
}
.insta{
    width: 20px;
    background: transparent;
}
.follow-us{
    text-align: center;
}
.tohome{
    color:green; 
    font-size:30px
}